.dataAssets{
    .overview {
        section {
            margin-top: 20px;
            margin-bottom: 40px;
            p {
                width: 630px;
                line-height: 30px;
                margin-top: 105px;
                text-indent: 2em;
                text-align: justify;
            }
        }
    }
}